.link-card{
    transition: all .3s linear;
    border: 2px solid rgba(84,33,187, .3);
    background: transparent;
}

.link-card:hover{
    background: rgba(84,33,187, .3);
    border: 2px solid rgba(84,33,187, 1);
}

a{
    text-decoration: none;
}
.tx{
    color: white;
}
.title{
    color: rgba(84,33,187, 1);
}

